/* FORMATTING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILITIES */

.nav_padding {
    padding-left: 20px;
}

.list_none {
    list-style: none;
}

.float_right {
    float: right;
}


/* standard divs */

.standard_wrapper {
    height: 100%;
    width: 60%;
    margin: 0 auto;
}


/* buttons */

.btn {
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}

#green_btn {
    background-color: #038484;
    color: white;
}

#transparent_btn {
    background-color: transparent;
    color: #038484;
    border: 1px solid #038484;
}


/* font sizes */

h1 {
    font-size: 600%;
}

h2 {
    font-size: 350%;
}

h3 {
    font-size: 120%;
    padding-bottom: 20px;
}

p {
    font-size: 120%;
}

.big_font {
    font-size: 200%;
}


/* font colors */

.fnt_bombaygray {
    color: #acaeb1;
}

.fnt_outerspace {
    color: #28363c;
}


/* background colors */

.bkg_outerspace {
    background-color: #28363c;
}

.bkg_darkbunker {
    background-color: rgb(17, 17, 23);
}


/* EFFECTVIE CODE */


/* HEADER */


/* top header */

#top_header {
    height: 4vh;
}

#top_header .standard_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_header_right {
    display: flex;
}


/* semplificare con nav padding? */

.top_header_right>* {
    padding-left: 20px;
}

.top_header_right .top_header_icon_nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


/* semplificare con nav padding? */

.top_header_right .top_header_icon_nav ul li,
.bottom_header_left ul li,
.bottom_header_right ul li {
    padding-left: 25px;
}

.top_header_right .top_header_icon_nav ul li a {
    color: #acaeb1;
}


/* bottom header */

#bottom_header_jumbotron {
    height: 100vh;
    background-image: url(../img/bg-13.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#bottom_header_jumbotron .standard_wrapper {
    position: relative;
}

.bottom_header {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_header_left,
.bottom_header_left .logo,
.bottom_header_left .logo img {
    height: 100%;
}

.bottom_header_left .logo img {
    padding: 5px 0;
}

.bottom_header_right ul {
    display: flex;
}

.bottom_header_right ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #28363c;
}

.jumbotron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50%;
}

span.section_exp {
    text-transform: uppercase;
    font-weight: bold;
    color: #038484;
    padding-bottom: 15px;
}

.jumbotron_buttons {
    padding-top: 50px;
}

.jumbotron_buttons #green_btn {
    margin-right: 20px;
}


/* Seconda sezione - Delivery Methods */


/* fare una classe box con tutto? */

#delivery_methods {
    height: 90vh;
}

.box_format {
    background-color: rgb(25, 25, 31);
    padding: 40px;
    border-radius: 10px;
}

#delivery_methods .standard_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#delivery_methods h3 {
    color: #f0f3f0;
    text-transform: capitalize;
}

#delivery_methods h2 {
    color: white;
}

#delivery_methods p {
    color: #acaeb1;
}

#delivery_methods i {
    color: #038484;
}

#delivery_methods .standard_wrapper .first_row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#delivery_methods .standard_wrapper .first_row .right_box {
    width: 65%;
    background-color: rgb(25, 25, 31);
}

#delivery_methods .standard_wrapper .first_row .left_box {
    width: 20%;
}

#delivery_methods .standard_wrapper .second_row .left_box,
#delivery_methods .standard_wrapper .second_row .center_box,
#delivery_methods .standard_wrapper .second_row .right_box {
    width: 30%;
}

#delivery_methods .standard_wrapper .second_row {
    display: flex;
    justify-content: space-between;
}

#delivery_methods .icon_row .big_font {
    padding-bottom: 20px;
}