/* FORMATTING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILITIES */

.nav_padding {
    padding-left: 20px;
}

.list_none {
    list-style: none;
}

.float_right {
    float: right;
}

.align_center {
    text-align: center;
}


/* standard divs */

.standard_wrapper {
    height: 100%;
    width: 60%;
    margin: 0 auto;
}


/* buttons */

.btn {
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 3px;
    text-decoration: none;
}

#green_btn {
    background-color: #038484;
    color: white;
}

#transparent_btn {
    background-color: transparent;
    color: #038484;
    border: 1px solid #038484;
}


/* font sizes */

h1 {
    font-size: 600%;
}

h2 {
    font-size: 350%;
}

h3 {
    font-size: 140%;
    padding-bottom: 20px;
}

p {
    font-size: 120%;
}

p.special,
a.special {
    font-size: 140%;
}

.big_font {
    font-size: 200%;
}

.xxl_font {
    font-size: 330%;
}

.medium_font {
    font-size: 150%;
}


/* font colors */

.fnt_bombaygray {
    color: #acaeb1;
}

.fnt_outerspace {
    color: #28363c;
}

.fnt_green {
    color: #038484;
}

mark {
    display: inline-block;
    border-radius: 5px;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: #03848441;
}

mark.green_underline {
    background-color: #038484;
}

mark.green_full {
    padding: 0 25px;
    line-height: normal;
}

p.special {
    color: #acaeb1;
}


/* background colors */

.bkg_outerspace {
    background-color: #28363c;
}

.bkg_softbunker {
    background-color: #0f1217;
}

.bkg_darkbunker {
    background-color: #141b1e;
}

.bkg_dark_box_format {
    background-color: rgb(25, 25, 31);
}

.bkg_light_box_format {
    background-color: white;
}


/* EFFECTVIE CODE */

body {
    font-family: 'Noto Sans JP', sans-serif;
}


/* HEADER */


/* top header */

#top_header {
    height: 4vh;
}

#top_header .standard_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_header_right {
    display: flex;
}


/* semplificare con nav padding? */

.top_header_right>* {
    padding-left: 20px;
}

.top_header_right .top_header_icon_nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


/* semplificare con nav padding? */

.top_header_right .top_header_icon_nav ul li,
.bottom_header_left ul li,
.bottom_header_right ul li {
    padding-left: 25px;
}

.top_header_right .top_header_icon_nav ul li a {
    color: #acaeb1;
}


/* bottom header */

#bottom_header_jumbotron {
    height: 100vh;
    background-image: url(../img/bg-13.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#bottom_header_jumbotron .standard_wrapper {
    position: relative;
}

.bottom_header {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_header_left,
.bottom_header_left .logo,
.bottom_header_left .logo img {
    height: 100%;
}

.bottom_header_left .logo img {
    padding: 5px 0;
}

.bottom_header_right ul {
    display: flex;
}

.bottom_header_right ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #28363c;
}

.jumbotron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50%;
}

span.section_exp {
    text-transform: uppercase;
    font-weight: bold;
    color: #038484;
    padding-bottom: 15px;
}

.jumbotron_buttons {
    padding-top: 50px;
}

.jumbotron_buttons #green_btn {
    margin-right: 20px;
}


/* Seconda sezione - Delivery Methods */


/* fare una classe box con tutto? */

#delivery_methods {
    height: 90vh;
}

.box_format {
    padding: 40px;
    border-radius: 10px;
}

#delivery_methods .standard_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#delivery_methods h3 {
    color: #f0f3f0;
    text-transform: capitalize;
}

#delivery_methods h2,
#delivery_methods mark,
#why_choose h1,
#why_choose mark {
    color: white;
}

#delivery_methods mark {}

#delivery_methods p {
    color: #acaeb1;
}

#delivery_methods i {
    color: #038484;
}

#delivery_methods .standard_wrapper .first_row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#delivery_methods .standard_wrapper .first_row .right_box {
    width: 65%;
}

#delivery_methods .standard_wrapper .first_row .left_box {
    width: 20%;
}

#delivery_methods .standard_wrapper .second_row .left_box,
#delivery_methods .standard_wrapper .second_row .center_box,
#delivery_methods .standard_wrapper .second_row .right_box {
    width: 30%;
}

#delivery_methods .standard_wrapper .second_row {
    display: flex;
    justify-content: space-between;
}

#delivery_methods .icon_row .big_font {
    padding-bottom: 20px;
}


/* Terza sezione - Identity */

#identity {
    height: 90vh;
    background-image: url(../img/bg-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#identity .identity_description {
    width: 40%;
}

#identity .identity_description>*,
#pricing_table .pricing_table_description>*,
#why_choose .why_choose_description>* {
    padding-bottom: 20px;
}

#identity .identity_button,
#why_choose .why_choose_button {
    margin-top: 30px;
}

#identity .standard_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* Quarta sezione - Pricing Table */

#pricing_table .main_table .first_row .m_popular {
    padding: 60px 40px;
    position: relative;
}

#pricing_table .main_table .first_row .m_popular::after {
    display: flex;
    align-items: center;
    content: "Most Popular";
    height: 40px;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 0;
    padding-left: 10px;
    background: #439f9e;
    color: white;
}

#pricing_table .main_table .first_row .m_popular .circlelabel {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 33px;
    background: #439f9e;
    color: white;
}

#pricing_table .main_table .first_row .n_popular {
    margin: 20px 0;
}

#pricing_table {
    height: 90vh;
    background-color: rgb(238, 244, 237);
}

#pricing_table .standard_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pricing_table .standard_wrapper .pricing_table_description p {
    width: 60%;
    margin: 0 auto;
}

#pricing_table .main_table h2 span {
    font-size: 50%;
    font-weight: normal;
}

#pricing_table .main_table .first_row {
    display: flex;
    justify-content: space-between;
}

#pricing_table .main_table .first_row i {
    color: #038484;
}

#pricing_table .main_table .first_row .left_box,
#pricing_table .main_table .first_row .center_box,
#pricing_table .main_table .first_row .right_box {
    width: 30%;
}

#pricing_table .main_table .first_row .icon_row {
    padding-bottom: 10px;
}

#pricing_table .main_table .first_row .left_box .pricing_row,
#pricing_table .main_table .first_row .center_box .pricing_row,
#pricing_table .main_table .first_row .right_box .pricing_row {
    color: #038484;
    padding-bottom: 20px;
}

#pricing_table .main_table .first_row .left_box .table_row li,
#pricing_table .main_table .first_row .center_box .table_row li,
#pricing_table .main_table .first_row .right_box .table_row li {
    padding-bottom: 20px;
}

#pricing_table .main_table .first_row .left_box .table_row li.active p::after,
#pricing_table .main_table .first_row .center_box .table_row li.active p::after,
#pricing_table .main_table .first_row .right_box .table_row li.active p::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    float: right;
    vertical-align: middle;
    color: #038484;
}

#pricing_table .main_table .first_row .left_box .table_row li.inactive p::after,
#pricing_table .main_table .first_row .right_box .table_row li.inactive p::after,
#pricing_table .main_table .first_row .center_box .table_row li.inactive p::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    float: right;
    vertical-align: middle;
    color: #038484;
}


/*Quinta sezione - Why Choose */

#why_choose {
    height: 90vh;
    background-image: url(../img/bg-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#why_choose .standard_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#why_choose .standard_wrapper .why_choose_description {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}


/* INIZIO FOOTER */


/* TOP FOOTER */

#top_footer {
    height: 90vh;
}

#top_footer .footer_left {
    width: 70%;
}


/* BOTTOM FOOTER */

#bottom_footer {
    height: 8vh;
}

#bottom_footer .standard_wrapper.fnt_bombaygray {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom_footer .standard_wrapper.fnt_bombaygray .right_box p span {
    color: #038484;
}


/* TOP FOOTER */

#top_footer .standard_wrapper {
    display: flex;
    align-items: center;
}

#top_footer .standard_wrapper .footer_container {
    display: flex;
    width: 100%;
}


/* footer left */

.footer_left {
    padding-right: 30px;
}

.footer_left .form_title {
    padding-bottom: 50px;
}

form .first_row,
form .second_row {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

form .first_row input,
form .second_row input,
form textarea {
    width: 48%;
    background-color: #e5e8e4;
    padding: 20px;
    border: none;
    border-radius: 3px;
}

form .second_row {
    position: relative;
}

form .second_row .fa-chevron-down {
    position: absolute;
    top: 30%;
    right: 10px;
}

form textarea {
    width: 100%;
    height: 200px;
}

form .submit {
    margin-top: 40px;
}


/* footer right */

.footer_right {
    padding-left: 30px;
}

.footer_right .footer_right_information>*,
.footer_right .footer_right_information_data ul li {
    padding-bottom: 20px;
}

.footer_right .footer_right_information_data ul li a {
    color: #038484;
    text-decoration: none;
}

.footer_right .footer_right_information_data ul li a i {
    height: 64px;
    width: 64px;
    text-align: center;
    color: #038484;
    background-color: #03848441;
    padding: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 7px;
}

.footer_right .footer_right_information_data .infomation_btn {
    margin-top: 30px
}