<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>NexGen Delivery</title>
</head>

<body>
    <header>

        <!-- Prima sezione top header con orari di apertura -->

        <section id="top_header" class="bkg_outerspace fnt_bombaygray">
            <div class="standard_wrapper">
                <div class="top_header_left">
                    <span><i class="fas fa-clock"></i> Open Hours: Mon - Sat - 9:00 - 18:00</span>
                </div>
                <div class="top_header_right">
                    <span><i class="fas fa-phone-alt"></i> +1 (305) 1234-5678</span>
                    <span><i class="fas fa-envelope"></i> hello@example.com</span>

                    <div class="top_header_icon_nav">
                        <ul class="list_none">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Bottom Header con Nav effettiva -->

        <section id="bottom_header_jumbotron">
            <div class="standard_wrapper">
                <section class="bottom_header" id="root">
                    <div class="bottom_header_left">
                        <div class="logo"><img :src=header.logo.src :alt=header.logo.alt></div>

                    </div>
                    <div class="bottom_header_right">
                        <ul class="list_none">
                            <li v-for="link in header.links">
                                <a href="#"><span>{{link}}</span></a>
                            </li>
                            <li v-for="icon in header.icons"><a :href=icon.href><i :class=icon.class></i></a></li>

                            <li v-for="(button,name) in header.buttons">
                                <a :id=button.id :class=button.class :href=button.href>{{button.title}}</a>
                            </li>

                        </ul>
                    </div>
                </section>

                <!-- Inizio Jumbotron -->
                <section class="jumbotron">
                    <div class="jumbotron_description">
                        <span class="section_exp">Express Delivery</span>
                        <h1>What are we going to deliver today?</h1>
                        <div class="jumbotron_buttons">
                            <a class="btn" id="green_btn" href="#">Get In Touch</a>
                            <a class="btn" id="transparent_btn" href="#">Read More</a>

                        </div>

                    </div>
                </section>
            </div>
        </section>

    </header>

    <main>
        <!-- Inizio Seconda Sezione -->
        <section id="delivery_methods" class="bkg_softbunker">
            <div class="standard_wrapper">
                <div class="first_row">
                    <div class="left_box">
                        <span class="section_exp">What We Do</span>
                        <h2>We offer a full range of delivery methods.</h2>
                    </div>
                    <div class="right_box box_format">
                        <div class="icon_row">
                            <i class="fas fa-shipping-fast big_font"></i>
                            <i class="float_right fas fa-arrow-right"></i>
                        </div>
                        <div class="description_row">
                            <h3>Shipping Fast</h3>
                            <p>Special fast delivery service that guarantees the arrival of the object on the same day as postage.Included monitoring via mobile app.</p>
                        </div>
                    </div>
                </div>
                <div class="second_row">
                    <div class="left_box box_format">
                        <div class="icon_row">
                            <i class="fas fa-motorcycle big_font"></i>
                            <i class="float_right fas fa-arrow-right"></i>
                        </div>
                        <div class="description_row">
                            <h3>Motoboy</h3>
                            <p>Functional moroboy for delivery of documents and small objects.</p>
                        </div>
                    </div>
                    <div class="right_box box_format">
                        <div class="icon_row">
                            <i class="fas fa-shuttle-van big_font"></i>
                            <i class="float_right fas fa-arrow-right"></i>
                        </div>
                        <div class="description_row">
                            <h3>Shuttle Van</h3>
                            <p>Suitable for medium sized loads that need digital tracking.</p>
                        </div>
                    </div>
                    <div class="center_box box_format">
                        <div class="icon_row">
                            <i class="fas fa-truck big_font"></i>
                            <i class="float_right fas fa-arrow-right"></i>
                        </div>
                        <div class="description_row">
                            <h3>Mini Truck</h3>
                            <p>For dry cargo deliveries with more cubic allocation.</p>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <!-- Inizio Terza Sezione -->
        <section id="identity">
            <div class="standard_wrapper">
                <div class="identity_description">
                    <span class="section_exp">Who we are</span>
                    <h1>Industry Leaders.</h1>
                    <p class="special">With all of this expertise and capability comes an unrivalled commitement to costumer service.</p>
                    <p class="special">We will work hard to understand your needs in order to develop a productive, long-term partnership.</p>
                    <div class="identity_button">
                        <a class="btn" id="green_btn" href="#">Read More</a>


                    </div>
                </div>
        </section>

        <!-- Inizio Quarta Sezione -->
        <section id="pricing_table">
            <div class="standard_wrapper"></div>
        </section>

        <!-- Inizio Quinta Sezione -->
        <section id="why_choose">
            <div class="standard_wrapper"></div>
        </section>


    </main>

    <!-- FINE MAIN -->

    <!-- INIZIO FOOTER -->
    <footer>
        <section id="top_footer">
            <div class="standard_wrapper">
                <div class="footer_container">
                    <div class="footer_left">
                        <div class="form_title">
                            <span class="section_exp">Send a Message</span>
                            <h2>Get in <span>Touch</span></h2>
                            <p class="fnt_bombaygray">We will respond to your message as soon as possible.</p>
                        </div>
                        <div class="form">
                            <form action="#">
                                <div class="first_row fnt_bombaygray">
                                    <input type="text" placeholder="Name">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="second_row fnt_bombaygray">
                                    <input type="text" placeholder="Phone">
                                    <input type="text" placeholder="More Info">
                                    <i class="fas fa-chevron-down"></i>
                                </div>

                                <textarea name="Message" placeholder="Message"></textarea>
                                <div class="submit">
                                    <a class="btn" id="green_btn" href="#">Send</a>
                                </div>


                            </form>

                        </div>
                    </div>
                    <div class="footer_right" id="root">
                        <div class="footer_right_information">
                            <h3>Example Inc.</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>

                        </div>
                        <div class="footer_right_information_data">
                            <ul class="list_none">
                                <li v-for="contact in footer.contacts">
                                    <a href="#"><i :class=(contact.iconPrefix)+(contact.iconClass)></i>+1(305) 1234-5678</a>
                                </li>
                                <li>
                                    <a href="#"><i class="medium_font fas fa-envelope"></i> hello@example.com</a>
                                </li>
                                <li>
                                    <a href="#"><i class="medium_font fas fa-map-marker-alt"></i> Main Avenue, 987</a>
                                </li>
                            </ul>
                            <div class="infomation_btn">
                                <a class="btn" id="transparent_btn" href="#">View Map</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <section id="bottom_footer" class="bkg_softbunker">
            <div class="standard_wrapper fnt_bombaygray">
                <div class="left_box">
                    <p>Enjoy the low price.We are tracking any intention of piracy.</p>
                </div>
                <div class="right_box">
                    <p>&copy; 2020 NEXGEN is Proudly Powered by <span>Codings</span>.</p>
                </div>
            </div>
        </section>
    </footer>

    <!-- FINE FOOTER -->
    <script src="js/main.js"></script>
</body>

</html>